pyspark
kafka-python
nltk
openai
langchain
langchain-google-vertexai
google-cloud-aiplatform
openai
vertexai
tqdm
pandas
numpy
fastapi
langserve[all]
pydantic==1.10.13
langchain-cli
chromadb
PyPDF2
anthropic[vertex]
requests
elasticsearch